#blog-container {
    margin: auto;
    max-width: 800px;
    padding: 0px 20px;
}

.article-title {
    margin: 10px 0;
}

.article-summary {
    margin: 15px 0;
}

.article-date {
    display: inline-block;
}

.article-subtitle {
    line-height: 1.7em;
}

.article-divider {
    margin: 40px 0px;
    opacity: 0.5;
    height: 1px;
    border-width: 0;
    background-color: var(--primary-color);
    /* border-top-width: 0.5px; */
}
