/* Base app styling is light */
:root {
    --primary-color: rgb(94, 219, 250);
    --primary-color-faint: rgba(94, 219, 250, 0.24);
    --secondary-color: rgb(89, 193, 253);
    --alt-primary-color: white;
}

.app {
    background-color: white;
    color: black;
}

.title {
    color: black;
}

.subtitle {
    color: rgb(54, 54, 54);;
}

a {
    color: var(--primary-color);
}

/* Style different if dark color scheme is preferred. */
@media (prefers-color-scheme: dark) {
    :root {
        --primary-color: rgb(37, 143, 214);
        --primary-color-faint: rgba(37, 143, 214, 0.212);
        --secondary-color: rgb(17, 76, 202);
        --alt-primary-color: rgb(26, 26, 26);
    }
    
    .app {
        background-color: rgb(49, 49, 49);
        color: white;
    }
    
    .title {
        color: white;
    }
    
    .subtitle {
        color: rgb(224, 224, 224);
    }
    
    a {
        color: rgb(62, 177, 223);
        outline-color: white;
    }
}


pre {
    margin-bottom: 1.5em;
    background-color: #1a1a1a;
    border-radius: 16px;
}

pre code {
    display: block;
    padding: 0 20px;
    line-height: 1.4em;
    white-space: pre;
    -webkit-overflow-scrolling: touch;
}

body {
    font-family: "Avenir Next", 'Proxima Nova Soft', 'Helvetica Neue', sans-serif;
}

.link-title a {
    text-decoration: none;
    color: inherit;
}
.link-title a:hover {
    color: var(--primary-color);
}

.centered-text {
    text-align: center;
}
