#blog-container {
    margin: auto;
    max-width: 800px;
    padding: 0px 20px;
}

.article-title {
    margin: 10px 0;
}

.article-summary {
    margin: 15px 0;
}

.article-date {
    display: inline-block;
}

.article-subtitle {
    line-height: 1.7em;
}
