.make-ten-container {
    margin: auto;
    max-width: 800px;
    padding: 0px 20px;
}

#input {
    display: block;
    border-bottom-color: cornflowerblue;
    border-width: 0px;
    border-bottom-width: 1px;
    outline-width: 0px;
    padding: 0px;
    font-size: 25vw;
    color: cornflowerblue;
    caret-color: cornflowerblue;
    text-indent: 5px;
    position: relative;
    margin: auto;
    background-color: inherit;
}

@media screen and (min-width: 700px) {
    #input {
        font-size: 175px;
    }
}

#solveable {
    text-align: center;
}

.train {
    background-color: #eeeeee;
}

.train-solution {
    color: lightseagreen;
}

.train-no-solution {
    color: crimson;
}

form {
    padding: 30px;
    padding-top: 15px
}
