.make-ten-container {
    margin: auto;
    max-width: 800px;
    padding: 0px 20px;
}

#input {
    display: block;
    border-color: white;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    outline: none;
    padding: 15px;
    font-size: 25vw;
    color: cornflowerblue;
    caret-color: cornflowerblue;
    position: relative;
    margin: auto;
    background-color: inherit;
}

#input:hover {
    border-width: 3px;
    padding: 13px;
}

#input:focus {
    border-color: cornflowerblue;
    border-width: 3px;
    padding: 13px;
}

@media screen and (min-width: 700px) {
    #input {
        font-size: 175px;
    }
}

#solveable {
    text-align: center;
}

.train {
    background-color: #eeeeee;
}

.train-solution {
    color: lightseagreen;
}

.train-no-solution {
    color: crimson;
}

form {
    padding: 30px;
    padding-top: 15px
}
