/* We default to using the xcode theme. */
/*
XCode style (c) Angel Garcia <angelgarcia.mail@gmail.com>
*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: rgb(245, 245, 245);
  color: black;
}

/* Gray DOCTYPE selectors like WebKit */
.xml .hljs-meta {
  color: #c0c0c0;
}

.hljs-comment,
.hljs-quote {
  color: #007400;
}

.hljs-tag,
.hljs-attribute,
.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-name {
  color: #aa0d91;
}

.hljs-variable,
.hljs-template-variable {
  color: #3F6E74;
}

.hljs-code,
.hljs-string,
.hljs-meta-string {
  color: #c41a16;
}

.hljs-regexp,
.hljs-link {
  color: #0E0EFF;
}

.hljs-title,
.hljs-symbol,
.hljs-bullet,
.hljs-number {
  color: #1c00cf;
}

.hljs-section,
.hljs-meta {
  color: #643820;
}


.hljs-class .hljs-title,
.hljs-type,
.hljs-built_in,
.hljs-builtin-name,
.hljs-params {
  color: #5c2699;
}

.hljs-attr {
  color: #836C28;
}

.hljs-subst {
  color: #000;
}

.hljs-formula {
  background-color: #eee;
  font-style: italic;
}

.hljs-addition {
  background-color: #baeeba;
}

.hljs-deletion {
  background-color: #ffc8bd;
}

.hljs-selector-id,
.hljs-selector-class {
  color: #9b703f;
}

.hljs-doctag,
.hljs-strong {
  font-weight: bold;
}

.hljs-emphasis {
  font-style: italic;
}


/* But in dark mode we use my custom theme. */
@media (prefers-color-scheme: dark) {
    .hljs {
        display: block;
        overflow-x: auto;
        padding: 0.5em;
        background: rgb(39, 39, 39);
        color: white
    }

    /* parsed section inside a literal string */
    .hljs-subst {
        color: #f0f0f0
    }

    .hljs-class {
        color: #ce9d4d;
        font-weight: bold
    }

    .hljs-comment {
        color:rgb(96, 197, 82);
        font-style: italic
    }

    .hljs-keyword {
        color: rgb(96, 124, 248);
        font-weight: bold
    }

    /* name of an attribute followed by a structured value part, like CSS properties */
    .hljs-attribute {
        color: #f0f0f0;
        font-weight: bold
    }

    .hljs-selector-tag {
        color: #f0f0f0;
        font-weight: bold
    }
    .hljs-meta-keyword {
        color: #f0f0f0;
        font-weight: bold
    }
    .hljs-doctag {
        color: rgb(67, 201, 49);
        font-weight: bold
    }
    .hljs-name {
        color: #f0f0f0;
        font-weight: bold
    }
    .hljs-string {
        color: rgb(255, 100, 50)
    }
    .hljs-number {
        color: rgb(20, 201, 146);   
    }
    .hljs-literal {
        color: rgb(96, 124, 248);
        font-weight: bold;
    }
    .hljs-selector-id {
        color: #f0f0f0
    }
    .hljs-selector-class {
        color: #f0f0f0
    }
    .hljs-quote {
        color: #f0f0f0
    }
    .hljs-template-tag {
        color: #f0f0f0
    }
    .hljs-deletion {
        color: #f0f0f0
    }

    /* name of a class or a function at the place of declaration */
    /*  */
    .hljs-title, .hljs-type {
        color: rgb(123, 189, 243);
    }
    .hljs-built_in {
        color: rgb(123, 189, 243);
    }

    /* heading of a section in a config file, heading in text markup */
    .hljs-section {
        color: #df471e
    }
    .hljs-title>.hljs-built_in {
        color: #81bce9;
        font-weight: normal
    }
    .hljs-regexp {
        color: #e2c696
    }
    .hljs-symbol {
        color: #e2c696
    }
    .hljs-variable {
        color: #e2c696
    }
    .hljs-template-variable {
        color: #e2c696
    }
    .hljs-link {
        color: #e2c696
    }
    .hljs-selector-attr {
        color: #e2c696
    }
    .hljs-selector-pseudo {
        color: #e2c696
    }
    .hljs-bullet {
        color: #397300
    }
    .hljs-code {
        color: #397300
    }
    .hljs-addition {
        color: #397300
    }

    .hljs-meta {
        color: #1f7199
    }
    .hljs-meta-string {
        color: #4d99bf
    }
    .hljs-emphasis {
        font-style: italic
    }
    .hljs-strong {
        font-weight: bold
    }
}
