.markdown-container {
    max-width: 800px;
    margin: auto;
    line-height: 2em;
}

.not-found {
    text-align: center;
}

code {
    background-color: rgb(153, 153, 153);
    border-radius: 7px;
    padding: 3px;
}

pre code {
    background-color: inherit;
}

blockquote {
    margin: 0px;
    padding: 10px 30px;
    background-color: var(--primary-color-faint);
    border: 0px;
    border-left: 5px;
    border-color: var(--primary-color);
    border-style: solid;
}

blockquote p {
    margin: 5px 0px;
}
