.markdown-container {
    max-width: 800px;
    margin: auto;
    line-height: 2em;
}

.not-found {
    text-align: center;
}

.note {
    margin: 0px;
    padding: 10px 30px;
    background-color: var(--primary-color-faint);
    border: 0px;
    border-left: 5px;
    border-color: var(--primary-color);
    border-style: solid;
}

.note p {
    margin: 5px 0px;
}
